<launch>
	
	<node pkg="autocrawler" type="odom_tf.py" name="odom_tf" required="true" output="screen" >
		<param name="odom_lag" value="0.035"/> 
	</node>

	<node pkg="autocrawler" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 

	<!-- depth cam-->
	<node pkg="tf" type="static_transform_publisher" name="base_to_xtion_broadcaster" 
		args="-0.054 0.048 0.29 0 0 0 /base_link /camera_depth_frame 100" />

	<include file="$(find oculusprime)/launch/fake_laser.launch" >
		<arg name="skipframes" value="2" />
		<arg name="floorplane_scan_enable" value="false" />
		<arg name="use_device_time" value="false" />
	</include>

	<node pkg="autocrawler" type="arcmove_globalpath_follower.py" name="arcmove_globalpath_follower" output="screen"
		required="true" /> 

	<include file="$(find oculusprime)/launch/move_base_dwa.launch" />
	
	<arg name="map" default="map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find autocrawler)/maps/$(arg map)"
		required="true" clear_params="true" />

	<include file="$(find autocrawler)/launch/amcl.launch" />
	
</launch>
