<launch>
	
	<!-- TODO: autocrawler model -->
<!--
	<param name="robot_description" textfile="$(find autocrawler)/description/autocrawler.urdf" />
-->

	<node pkg="autocrawler" type="odom_tf.py" name="odom_tf" required="true" output="screen" >
		<param name="odom_lag" value="0.035"/> 
	</node>
	
	
		
	<!-- lidar rotated, hides forward blind spot in 1st mask -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar_broadcaster" 
		args="0.103 0.0 0.120 1.396 0 0 base_link laser_frame" /> 
		
	<node pkg="xaxxon_openlidar" type="lidarbroadcast.py" name="lidarbroadcast" required="true" output="screen"
	clear_params="true">
		<param name="masks" value="54 80  162 174  190 208  279 305"/>
		<param name="scan_topic" value="scan_lidar"/> 
		<param name="dropscan_turnrate" value="45"/>
		<param name="rotate_forward_offset" value="80.0"/>
	</node>
	


	
  <arg name="scan_topic" default="scan_lidar" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" required="true">
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="2.0"/>  
    <param name="maxRange" value="10.0"/>  
    <param name="maxUrange" value="7.0"/>
	 <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.15"/>
    <param name="astep" value="0.15"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.2"/> 
    <param name="angularUpdate" value="0.2"/>
    <param name="temporalUpdate" value="0.5"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="30.0"/> 
	<param name="throttle_scans" value="1" /> 
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/>
    <param name="delta" value="0.05"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <param name="minimumScore" value="0.0"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>

