<launch>
	
	<!-- lidar -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lidar_broadcaster" 
	args="0.103 0.0 0.120 0 0 0 base_link laser_frame" /> 

	<node pkg="xaxxon_openlidar" type="lidarbroadcast.py" name="lidarbroadcast" required="true" output="screen"
		clear_params="true">
		<param name="masks" value="54 80  162 174  190 208  279 305"/>
		<param name="scan_topic" value="scan_lidar"/> 
	</node>	

	
	<!-- realsense depth and colour -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_to_realsense_broadcaster" 
		args="0.152 0.012 0.163 0 0 0 base_link camera_link" />

	<arg name="camera"                default="camera"/>
	<arg name="color_width" default="640"/>
	<arg name="color_height" default="480"/>
	<arg name="color_fps" default="15"/>
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="enable_infra1"     value="false"/>
		<arg name="enable_infra2"     value="false"/>
		<arg name="enable_fisheye"    value="false"/>
		<arg name="enable_gyro"       value="false"/>
		<arg name="enable_accel"      value="false"/>

		<arg name="enable_depth"      value="true"/>
		<arg name="depth_width"       value="480"/> 
		<arg name="depth_height"      value="270"/> 
		<arg name="depth_fps"         value="30"/>
		<arg name="clip_distance"	value="2.5"/>
		<arg name="enable_color"      value="true"/>
		<arg name="color_width"       value="$(arg color_width)"/>
		<arg name="color_height"      value="$(arg color_height)"/>
		<arg name="color_fps"      value="$(arg color_fps)"/>

		<arg name="initial_reset" value="true"/>
    </include>

	<!-- depthcamtoscan-->
	<node pkg="autocrawler" type="depthcamtoscan" name="depthcamtoscan" output="screen" required="false"/>

	<!-- scan merge -->
	<node pkg="autocrawler" type="lidarrealsensemerge.py" name="lidarrealsensemerge" required="true" output="screen">
		<param name="merged_scan_topic" value="scan"/> 
	</node>
	
</launch>
