<launch>

	<arg name="audiodevice" default="" />
	<arg name="videowidth" default="640" />
	<arg name="videoheight" default="480" />
	<arg name="videobitrate" default="256" />
	<node name="webrtcrs" pkg="df" type="webrtcrs" output="screen" 
		  args="--peer-id=777 $(arg audiodevice) --video-width=$(arg videowidth) 
			--video-height=$(arg videoheight) --video-bitrate=$(arg videobitrate)" 
		  respawn="true">
		<remap from="image_raw" to="/camera/color/image_raw"/>
	</node>
	
</launch>
