<launch>
	<!-- realsense depth and colour -->
	<arg name="camera"                default="camera"/>
	<include file="$(find realsense2_camera)/launch/rs_camera.launch">
		<arg name="enable_infra1"     value="false"/>
		<arg name="enable_infra2"     value="false"/>
		<arg name="enable_fisheye"    value="true"/>
		<arg name="enable_gyro"       value="false"/>
		<arg name="enable_accel"      value="false"/>

		<arg name="enable_depth"      value="true"/>
		<arg name="depth_width"       value="640"/>
		<arg name="depth_height"      value="480"/>
		<arg name="depth_fps"         value="30"/>
		
		<arg name="enable_pointcloud" value="true"/>
		<arg name="pointcloud_texture_stream" default="RS2_STREAM_ANY"/>

		<arg name="enable_color"      value="true"/>
		<arg name="color_width" value="640"/>
		<arg name="color_height" value="480"/>
		<arg name="color_fps" value="15"/>

		<arg name="initial_reset" value="true"/>
    </include>
</launch>
