<launch>

	<node pkg="autocrawler" type="odom_tf.py" name="odom_tf" required="true" output="screen" >
		<param name="odom_lag" value="0.035"/> 
	</node>
	
	<node pkg="tf" type="static_transform_publisher" name="base_to_xaxxon_lidar_broadcaster" 
	args="0.103 0.0 0.120 0 0 0 /base_link /laser_frame 100" /> 

	<node pkg="xaxxon_openlidar" type="lidarbroadcast.py" name="lidarbroadcast" required="true" output="screen">
		<param name="masks" value="54 80  162 174  190 208  279 305"/>
	</node>	

	
</launch>
